body {
    background-color: yellow;

}

#header {
    text-align: center;
    margin-top: 50px;
}

.display {
    text-align: center; 
    /* float: left; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
}

ul {
    margin: 10px;
    padding-right: 50px;
    list-style-type: none;
}

#burgerForm {
    text-align: center;
    padding: 10px;
    margin: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

#formRow .center {
    margin-top: 100px;
    width: 300px;
    text-align: center;
}